<div>
    <h2 id="page-heading">
        <span jhiTranslate="localversionApp.spectacle.home.title">Spectacles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spectacle" [routerLink]="['/spectacle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="localversionApp.spectacle.home.createLabel">
            Create new Spectacle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="spectacles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="localversionApp.spectacle.nom">Nom</span></th>
            <th><span jhiTranslate="localversionApp.spectacle.date">Date</span></th>
            <th><span jhiTranslate="localversionApp.spectacle.duree">Duree</span></th>
            <th><span jhiTranslate="localversionApp.spectacle.resume">Resume</span></th>
            <th><span jhiTranslate="localversionApp.spectacle.salle">Salle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spectacle of spectacles ;trackBy: trackId">
                <td><a [routerLink]="['/spectacle', spectacle.id, 'view' ]">{{spectacle.id}}</a></td>
                <td>{{spectacle.nom}}</td>
                <td>{{spectacle.date | date:'medium'}}</td>
                <td>{{spectacle.duree}}</td>
                <td>{{spectacle.resume}}</td>
                <td>
                    <div *ngIf="spectacle.salle">
                        <a [routerLink]="['../salle', spectacle.salle?.id, 'view' ]" >{{spectacle.salle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/spectacle', spectacle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spectacle', spectacle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spectacle/'+ spectacle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
