<div>
    <h2 id="page-heading">
        <span jhiTranslate="localversionApp.ouvreur.home.title">Ouvreurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ouvreur" [routerLink]="['/ouvreur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="localversionApp.ouvreur.home.createLabel">
            Create new Ouvreur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ouvreurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="localversionApp.ouvreur.nom">Nom</span></th>
            <th><span jhiTranslate="localversionApp.ouvreur.prenom">Prenom</span></th>
            <th><span jhiTranslate="localversionApp.ouvreur.dateNaissance">Date Naissance</span></th>
            <th><span jhiTranslate="localversionApp.ouvreur.email">Email</span></th>
            <th><span jhiTranslate="localversionApp.ouvreur.spectacle">Spectacle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ouvreur of ouvreurs ;trackBy: trackId">
                <td><a [routerLink]="['/ouvreur', ouvreur.id, 'view' ]">{{ouvreur.id}}</a></td>
                <td>{{ouvreur.nom}}</td>
                <td>{{ouvreur.prenom}}</td>
                <td>{{ouvreur.dateNaissance | date:'medium'}}</td>
                <td>{{ouvreur.email}}</td>
                <td>
                    <span *ngFor="let spectacle of ouvreur.spectacles; let last = last">
                            <a class="form-control-static" [routerLink]="['../spectacle', spectacle?.id, 'view' ]">{{spectacle.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ouvreur', ouvreur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ouvreur', ouvreur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ouvreur/'+ ouvreur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
